.breadcrumbs {
  background-color: #eaecef;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.breadcrumbs ol {
  padding-top: 7px;
  padding-bottom: 7px;
}
.breadcrumbs li {
  font-size: 17px;
  padding-left: 5px;
}

.popular {
  margin-left: 5px;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.card {
  -webkit-box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 90px;
}