{% extends "blog/base.html" %}

{% load static %}

{% block title %}Sign in{% endblock title %}

{% block style %}{% static "blog/css/login.css" %}{% endblock style %}

{% block body %}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Log in</li>
        </ol>
    </nav>

    <div class="form-container d-flex flex-column justify-content-center align-items-center">
        <h3>To log in, please enter your email and password</h3>

        <form action="{% url 'signin' %}" method="post" class="login-form">
            {% csrf_token %}

            {% if error %}
                <div class="alert alert-danger error">
                    <strong>{{error}}</strong>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12">
                    {{form.username}}
                </div>
                <div class="col-12">
                    {{form.password}}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
{% endblock body %}